*{
	margin: 0;
}
header {
	background: #333333;
	height: 59px;
}

header nav {
	float: right;
	font-size: 11px;
	margin: 21px 0 25px;
}

header nav li {
	float: left;
	line-height: 26px;
}
body {
	background-color: #dedede;
}
article {
	margin: 21px;
	background-color: white;
	padding: 21px;
}
article h2{
	font-size: : 22px ;
	margin-bottom: 23px;
}
article h3{
	font-size: 14px;
	color: #686a53;
	margin-bottom: 11px;
}
article h4{
	font-size: 12px;
	color: #747378;
	margin-bottom: 19px;
}

article p{
	line-height: 23px;
	font-size: 14px;
}
article ul{
	list-style: none;
}
article div{
	width: 120px;
	height: 124px;
	text-align: center;
	border: solid 1px #cbcbcb;
	margin-bottom: 15px;
}
article div img{
	height: 80px;
	width: 98px;
}
article div p{
	margin-top:9px;
	margin-bottom: 12px;
	
}
table {

	width: 100%;
}
table tr th{
	background-color: #333333;
	color: white;
	text-align: left;
}
aside{
	background-color: white;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
aside h2{
	font-size: : 22px ;
	margin-bottom: 23px;
	
}
aside p{
	line-height: 30px;
}

aside form{
	margin-bottom: 30px;
}
aside form textarea{
	width: 763px;
	height: 96px;
}
#submit{
	border-radius: 25px;
	background-color: #3355d0;
	color: white;
	width: 100%;
	height: 38px;
}
footer{
	padding-top:18px; 
	background-color: black;
	height: 68px;
	text-align: center;
	color: white;
}